{% for lesson in site.lessons  %}
  {% if lesson.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
      {% assign prevtitle = prev.title %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = site.lessons[forloop.index] %}
      {% assign nexturl = next.url %}
      {% assign nexttitle = next.title %}
    {% endunless %}
  {% endif %}
  {% assign prev = lesson %}
{% endfor %}

{% if prevurl or nexturl %}
    <section class="pagination container">
    {% if prevurl %}
      <div class="pagination__column pagination__column--prev">
        <h4 class="pagination__label pagination__label--prev">Previous lesson</h4>
        <a href="{{ prevurl | prepend: site.baseurl }}" class="pagination__link">{{ prevtitle }}</a>
      </div>
    {% endif %}
    {% if nexturl %}
      <div class="pagination__column pagination__column--next">
        <h4 class="pagination__label pagination__label--next">Next lesson</h4>
        <a href="{{ nexturl | prepend: site.baseurl }}" class="pagination__link">{{ nexttitle }}</a>
      </div>
    {% endif %}
  </section>
{% endif %}
