---
layout: default
---
<h1>{{ page.title }}</h1>

<main>
  {{ page.content }}
</main>

{% if page.references.size > 0 %}
  <section class="references">
    <h3 class="reference__title">References</h3>
    <ul class="references__list">
      {% for reference in page.references %}
        <li class="references__item">
          <a
            class="references__link"
            href="{{ reference.url }}"
            target="_blank">{{ reference.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% include pagination.html %}
